body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 30%;
  padding: 1rem;
  background: #2c3e50;
  color: #ecf0f1;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

#sidebar h1 {
  margin-top: 0;
  text-align: center;
  color: #3498db;
}

#main {
  flex: 1;
  padding: 1rem;
  background: #f7f9fc;
}

.task-list {
  margin-top: 1rem; /* Отступ сверху от фильтра */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #ecf0f1;
}

.task h3 {
  margin-left: 10px;
}

#filter-form {
  margin-top: 1rem;
}

#filter-form label {
  display: block;
  margin-bottom: 10px;
}
